<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sports">
      <ion-icon name="walk"></ion-icon>
      <ion-label>Sports & Outdoor</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="fashion">
      <ion-icon name="woman"></ion-icon>
      <ion-label>Fashion</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="exhibitions-conferences">
      <ion-icon name="images"></ion-icon>
      <ion-label>Exhibitions & Eonferences</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="nightlife">
      <ion-icon name="wine"></ion-icon>
      <ion-label>Nightlife</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="contact">
      <ion-icon name="contact"></ion-icon>
      <ion-label>Contact</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
