<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <h1>Latest</h1>
  <ion-spinner *ngIf="loading"></ion-spinner>
  <ion-slides pager="true" [options]="sliderConfig">
    <ion-slide *ngFor="let post of latestPosts">
      <ion-card>
          <ion-card-content>
              <img src="{{post.image}}">
              {{post.post_title}}
            <ion-button expand="full">View</ion-button>
          </ion-card-content>
  
      </ion-card>
    </ion-slide>
  </ion-slides>

  <h1>Trending</h1>
  <ion-spinner *ngIf="loading"></ion-spinner>
  <ion-slides pager="true" [options]="sliderConfig">
    <ion-slide *ngFor="let post of trendingPosts">
      <ion-card>
          <ion-card-content>
              <img src="{{post.image}}">
              {{post.post_title}}
            <ion-button expand="full">View</ion-button>
          </ion-card-content>
  
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
